html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
}

.container {
  margin-top: 50px;
  width: 1200px;
}

.form-control {
  width: 800px;
}

.country-card-container,
.country-card-container-description-item {
  display: flex;
  align-items: center;
}

.country-card-container-description-item {
  margin-bottom: 15px;

  align-items: baseline;
}

.country-card-container-description-item-title,
.country-card-container-description {
  margin-right: 25px;
}

.languages {
  margin-bottom: 15px;
}
